ATLAS_MCP_PORT=5391
ATLAS_BIND_ADDRESS=0.0.0.0

POSTGRES_DB=atlas_team
POSTGRES_USER=atlas
POSTGRES_PASSWORD=change-this-before-use

ATLAS_USERNAME=atlas-server
ATLAS_EMBEDDINGS_ENABLED=false
ATLAS_PIPELINE_ENABLED=false
ATLAS_MEMORY_AUTOMATION_ENABLED=true

